2021/
2022/
2023/
2024/
*.csv
*.zip
.env
*.xlsx
*.pdf
src/.ipynb_checkpoints/eda-checkpoint.ipynb
/src/.ipynb_checkpoints
src/version 3/.ipynb_checkpoints/eda by location-checkpoint.ipynb
/src/.ipynb_checkpoints
.DS_Store
!src/*.zip
*.txt
*.html
